<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/albar/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="albar" />
            <add key="ClearTextPassword" value="e6b9a61a5c46005112b5d302afd945aae729105e" />
        </github>
    </packageSourceCredentials>
</configuration>
