<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/albar/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="albar" />
            <add key="ClearTextPassword" value="40ff81017b0104fc62817801e790959f57be2327" />
        </github>
    </packageSourceCredentials>
</configuration>
